body{

font-family:-apple-system,BlinkMacSystemFont,Arial;
margin:0;
background:#f5f7fb;
text-align:center;

}

h1{

margin-top:20px;
font-size:34px;

}

h2{

margin-top:30px;

}

button{

width:90%;
max-width:360px;
padding:18px;
margin:12px auto;
display:block;

font-size:18px;

border:none;
border-radius:16px;

background:#2f80ed;
color:white;

box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

button:active{

transform:scale(0.97);

}

.nav{

position:fixed;
bottom:0;
width:100%;
background:white;
padding:10px;

display:flex;
justify-content:space-around;

box-shadow:0 -3px 10px rgba(0,0,0,0.1);

}

.nav button{

width:30%;
padding:12px;
font-size:16px;

}

#screen{

padding-bottom:120px;

}

canvas{

touch-action:none;

}
